<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test" parallel="tests">
	  <parameter name="browser" value="firefox"/>
    <classes>
      <class name="Base.binary"/>
      <class name="Base.containstext"/>
      <class name="Base.PropertyFileReading"/>
      <class name="Base.Frames_tag"/>
      <class name="Base.UniqueOptions"/>
      <class name="Base.arrraylist"/>
      <class name="Base.screen"/>
      <class name="Base.before"/>
      <class name="Base.duplicatevaluesMtrListrBox"/>
    </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
